body{
			/*background-image: url(../imgs/bg_login.jpg);
			/*-webkit-background-size:cover;
			background-size: cover;
			background-position: center center;*/
			background-color: #fff;
			font-family: 'Roboto',Helvetica Neue,Helvetica,Arial,sans-serif;
		}

		.form-area{
			width: 600px;
			height: 400px;
			margin: 60px auto 0;
			position: relative;
			/*background: rgba(0,0,0,0.4);*/
			text-align: center;
			margin-top: 20px;
			margin-bottom: 10px;
			padding: 25px;
			border: 3px solid rgba(0,0,0,0.4);
			border-radius: 10px;
			/*-webkit-border-radius: 70px 0 70px 0;
			-moz-border-radius: 70px 0 70px 0;
			border-radius: 70p 0 70px 0;*/
		}
		.form-area h2{
			margin-bottom: 45px;
			color: #313030;
			font-weight: bold;
			
		}
		.img-area{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background:#1c3a6a;
			position: absolute;
			top: -5%;
			left: 45%;

		}
		.img-area img{
			width: 100%;
			padding: 10px;
			border-radius: 50%;
		}

		input{
			width: 100%;
			height: 40px;
			border-radius: 10px;
			border: 2px solid rgba(0,0,0,0.4);
			margin-bottom: 15px;
			background-color: transparent;
			color: #fff;
		}
		.form-area p{
			text-align: left;
			color: #313030;
			font-size: 14px;
			font-weight: bold;


		}
		.btnlogin{
			display: inline-block;
			height: 40px;
			width: 150px;
			line-height: 40px;
			overflow: hidden;
			position: relative;
			text-align: center;
			border: none;
			background:#ffb606;
			border-radius: 25px;
			color: #313030;
			text-transform: uppercase;
			margin-top: 20px;
			cursor: pointer;
			font-weight: bold;
			text-decoration: none;
			
		}
		.btn-text{
			display: block;
			height: 100%;
			position: relative;
			top: 0;
			-webkit-transition: top 0.6s;
			-moz-transition: top 0.6s;
			-ms-transition: top 0.6s;
			-o-transition: top 0.6s;
			transition: top 0.6s;
			width: 100%;
		}
		.btnlogin:hover {
			background:#1c3a6a;
		}
		.btnlogin:hover .btn-text{

			color: #FFFFFF;

		}

		.for-pass{
			text-decoration: none;
			display: block;
			margin-top: 10px;
			/*font-size: 18px;*/
			color: #313030;
		}